<div class="logo_header show-for-medium">
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <img class="logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
</div>
